.vp-shipping-rate-settings-pricing {
  border-radius: 4px;
  border: 1px solid #8c8f94;
  background: #fff;
  margin: 0 0 10px 0;
  max-width: 750px; }
  .vp-shipping-rate-settings-pricing-add {
    padding: 0 0 5px 0; }
    .vp-shipping-rate-settings-pricing-add a.button {
      display: flex;
      align-items: center;
      text-decoration: none;
      outline: none;
      padding: 0 10px 0 6px;
      margin: 0 0 10px 0;
      float: left; }
      .vp-shipping-rate-settings-pricing-add a.button:focus {
        outline: none;
        box-shadow: none; }
      .vp-shipping-rate-settings-pricing-add a.button span:first-child {
        margin-right: 6px; }
    .vp-shipping-rate-settings-pricing-add p.description {
      max-width: 750px;
      clear: both; }
  .vp-shipping-rate-settings-pricing-title {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #CCD0D4; }
    .vp-shipping-rate-settings-pricing-title .cost-field {
      display: flex;
      margin-right: auto; }
      .vp-shipping-rate-settings-pricing-title .cost-field small {
        background: rgba(0, 0, 0, 0.1);
        padding: 8px 12px;
        border-radius: 0 5px 5px 0;
        font-size: 14px;
        border: 1px solid #8c8f94;
        margin-left: -1px; }
      .vp-shipping-rate-settings-pricing-title .cost-field input {
        width: auto !important;
        border-radius: 5px 0 0 5px; }
    .vp-shipping-rate-settings-pricing-title span.text {
      margin: 0 10px; }
    .vp-shipping-rate-settings-pricing-title a.delete-pricing {
      color: #a00; }
  .vp-shipping-rate-settings-pricing-if {
    padding: 20px 20px 12px 20px; }
    .vp-shipping-rate-settings-pricing-if-header {
      display: flex;
      align-items: center;
      color: #666666;
      padding-bottom: 8px; }
      .vp-shipping-rate-settings-pricing-if-header select {
        margin: 0 10px !important;
        width: auto !important;
        line-height: 24px !important;
        min-height: 0px !important; }
    .vp-shipping-rate-settings-pricing-if-options {
      margin: 0;
      padding: 0 0 0 0;
      list-style-type: none; }
      .vp-shipping-rate-settings-pricing-if-options select, .vp-shipping-rate-settings-pricing-if-options input {
        width: auto !important;
        line-height: 24px !important;
        min-height: 0px !important; }
      .vp-shipping-rate-settings-pricing-if-options li {
        display: flex;
        align-items: center;
        margin: 0 0 8px 0; }
        .vp-shipping-rate-settings-pricing-if-options li select, .vp-shipping-rate-settings-pricing-if-options li input[type="text"] {
          margin-right: 8px !important; }
          .vp-shipping-rate-settings-pricing-if-options li select.value, .vp-shipping-rate-settings-pricing-if-options li input[type="text"].value {
            display: none; }
            .vp-shipping-rate-settings-pricing-if-options li select.value.selected, .vp-shipping-rate-settings-pricing-if-options li input[type="text"].value.selected {
              display: block; }
        .vp-shipping-rate-settings-pricing-if-options li a {
          width: 27px;
          height: 27px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          line-height: 27px;
          text-decoration: none;
          color: #CCCCCC; }
        .vp-shipping-rate-settings-pricing-if-options li:first-child a.delete-row {
          display: none; }
  .vp-shipping-rate-settings-pricing-option {
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative; }
    .vp-shipping-rate-settings-pricing-option small {
      position: absolute;
      line-height: 34px;
      bottom: 0;
      padding-right: 10px;
      right: 0; }
    .vp-shipping-rate-settings-pricing-option input[type=text], .vp-shipping-rate-settings-pricing-option select {
      width: 100% !important; }
    .vp-shipping-rate-settings-pricing-option input[type=text] {
      padding: 2px 8px !important; }
    .vp-shipping-rate-settings-pricing-option input[type="checkbox"] {
      margin-top: 9px; }
    .vp-shipping-rate-settings-pricing-option label {
      margin: 0 0 5px 0;
      display: block; }

/*# sourceMappingURL=admin.css.map */
